# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Model weights
*.pth

# STCN cloned folder
STCN/

# Virtual environment folders
.venv/

# Local backups
backup/

# Word documents
*.docx

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp